/*reset*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
    font-weight: 400;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    font-size: 15px;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a:-webkit-any-link {
    color: unset;
    text-decoration: none;
}
input:focus-visible,textarea {
    outline: 0;
}
.social li a,.footer li a {
    text-shadow: 0;
    transition: .3s;
}
.social li a:hover,.footer li a:hover {
    text-shadow: 0 0 2px #0000004a;
}
/*
.social li:hover::before {
    content: "";
    background: #00cc99;
    height: 35%;
    width: 60%;
    position: absolute;
    z-index: 0;
    bottom: 0;
    right: 10px;
}
.social li{
    position: relative;
}
.social a{
    position: relative;
    z-index: 3;
}
*/
.social li:hover{
    text-shadow: #00000034;
}
/*start*/
.warp {
    max-width: 1000px;
    margin: auto;
    font-family: Microsoft JhengHei;
    overflow: hidden;
}
.top {
    position: sticky;
    top: 0;
    z-index: 5;
}
.social li{
    padding-left: 5px;
}
.social i {
    margin-right: 3px;
}
.social li:not(:last-child)::after {
    content: "";
    margin-left: 5px;
    display: inline-block;
    width: 2px;
    height: 90%;
    background: #ccc;
}
ul.social {
    display: flex;
    justify-content: right;
    background: #f6f6f6;
    padding: 8px 15px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #FFF;
    box-shadow: 0 3px 5px 0 rgb(0 0 0 / 15%);
    padding: 0 15px;
}
.sub-menu{
    display: none;
    position: absolute;
    z-index: 2;
    background: #fff;
}
ul.menu {
    display: flex;
}
.menu li a{
    font-size: 15px;
    line-height: 1.6em;
    color: #00cc99;
    padding: 15px 25px;
    border-bottom: 5px transparent solid;
    transition: .3s;
    display: block;
}
.menu li a:hover {
    border-bottom: 5px #00cc99 solid;
}
li.twitter {
    color: #00aaec;
}
li.facebook {
    color: #4460a0;
}
/*banner*/
.banner h2 {
    position: absolute;
    width: calc(100% - 110px);
    top: calc(50% - 82px);
    background-color: rgba(0, 0, 0, .3);
    color: #FFF;
    font-size: 28px;
    line-height: 1.5em;
    padding: 55px;
}
/*course*/
.course{
    margin: 65px 15px;
}
ul.course-list {
    display: flex;
    gap: 25px;
    padding: 15px;
}
li.course-item {
    background: #fff;
    box-shadow: 0 3px 3px #00000034;
    width: 33.33%;
    text-align: center;
    border-radius: 3px;
    padding: 25px 20px;
}
a.lightbox-image img {
    transition: .3s;
}
a.lightbox-image:hover img {
    transition: .3s;
    transform: scale(0.85) !important;
}
.course-item h3{
    text-align: center;
    font-size: 18px;
    line-height: 1.5em;
    margin: 10px 0;
}
.course-item p,.course-item li{
    text-align: left;
    list-style: inside;
    line-height: 1.5em;
}
/*compare*/
.compare{
    margin: 60px 0;
    padding: 0 15px;
}
.compare h2{
    font-size: 36px;
    text-align: center;
    margin-bottom: 30px;
}
.compare table {
    margin: auto;
    width: 840px;
    max-width: 100%;
    text-align: left;
    line-height: 1.6em;
    color: #222222;
}
.compare thead {
    background: #f7f7f7;
    font-weight: 700;
}
.compare tr:hover {
    background: #f7f7f7;
}
.compare tr{
    border: #dddddd solid;
    border-width: 1px 0;
}
.compare th,.compare td{
    padding: 10px 15px;
}
.compare .highlight{
    color: #00cc99;
}

/*form*/
.contact {
    background: linear-gradient(180deg, #00644b, #009872);
    padding: 35px 15px;
    color: #FFF;
}
.contact h2 {
    text-align: center;
    font-size: 24px;
    line-height: 1.5em;
    margin-bottom: 30px;
}
form {
    display: flex;
    gap: 25px;
}
.contact #comment, .contactform {
    flex: 1;
}
.contactform {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.contactform input#name,.contactform input#email,.contactform input#tel {
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 3px;    
    border: 0;
}
textarea{
    padding: 10px;
    border-radius: 3px;
    width: calc(100% - 20px);
}
label {
    margin-bottom: 5px;
}
label{
    width: 100%;
}
input {
    width: calc(100% - 20px);
}
input.submit {
    padding: 10px 25px;
    background: #00cc99;
    border: 0;
    border-radius: 3px;
    width: fit-content;
    color: #fff;
    cursor: pointer;
}
/*footer*/
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 15px ;
    line-height: 1.5em;
}
.footer li a {
    color: #e12d80;
}

/*lightbox*/
a.lb-close {
    position: absolute !important;
    top: -30px !important;
    left: 55% !important;
}
/*swiper*/
:root {
    --swiper-navigation-size: 35px;
    --swiper-theme-color: #FFF;
    --swiper-pagination-bullet-width:12px;
    --swiper-pagination-bullet-height:12px;
}

/* goTop */
a.goTop{
    position: fixed;
    right: 15px;
    bottom: 15px;
    color: #00cc99;
    font-size: 50px;
    display: block;
    padding: 15px;
    display: none;
    transition: 0.3s;
}